<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fzh.service.UserMapper">
    <resultMap id="userResultMap" type="com.fzh.pojo.User">
        <result property="id" column="id"/>
        <result property="isAdmin" column="is_admin"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <!-- 关联 user_info -->
        <association property="userInfo" javaType="com.fzh.pojo.UserInfo">
            <result property="id" column="user_info_id"/>
            <result property="userId" column="user_id"/>
            <result property="nickname" column="nickname"/>
            <result property="avatarUrl" column="avatar_url"/>
            <result property="realName" column="real_name"/>
            <result property="gender" column="gender"/>
            <result property="phoneNumber" column="phone_number"/>
            <result property="highSchool" column="high_school"/>
            <result property="currentGrade" column="current_grade"/>
            <result property="university" column="university"/>
            <result property="majorName" column="major_name"/>
            <result property="universityGrade" column="university_grade"/>
            <result property="workExperience" column="work_experience"/>
        </association>
        <!-- 关联 user_opinions -->
        <collection property="userOpinions" ofType="com.fzh.pojo.UserOpinion">
            <result property="id" column="opinion_id"/>
            <result property="userId" column="user_id"/>
            <result property="opinionType" column="opinion_type"/>
            <result property="opinionText" column="opinion_text"/>
            <result property="opinionTime" column="opinion_time"/>
        </collection>
    </resultMap>


    <select id="getAllUsersWithDetails" resultMap="userResultMap">
        SELECT u.id,
               u.is_admin,
               u.account,
               u.password,
               ui.id AS user_info_id,
               ui.user_id,
               ui.nickname,
               ui.avatar_url,
               ui.real_name,
               ui.gender,
               ui.phone_number,
               ui.high_school,
               ui.current_grade,
               ui.university,
               ui.major_name,
               ui.university_grade,
               ui.work_experience,
               o.id  AS opinion_id,
               o.user_id,
               o.opinion_type,
               o.opinion_text,
               o.opinion_time
        FROM users u
                 LEFT JOIN user_info ui ON u.id = ui.user_id
                 LEFT JOIN user_opinions o ON u.id = o.user_id
    </select>


    <!-- 插入新用户 -->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (is_admin, account, password)
        VALUES (#{isAdmin}, #{account}, #{password});
    </insert>

    <!-- 根据ID删除用户 -->
    <delete id="deleteUser" parameterType="Integer">
        DELETE
        FROM users
        WHERE id = #{id};
    </delete>

    <!-- 获取所有用户 -->
    <select id="getAllUsers" resultMap="userResultMap">
        SELECT *
        FROM users;
    </select>

</mapper>
